body {
    margin: 40px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-direction: column;
}

button {
    width: 100px;
    border: none;
    border-radius: 32px;
    background: blue;
    color: white;
    padding: 8px;
}


#taskForm {
    margin-top: 32px;
    display: flex;
    gap: 24px;
    display: none;
}

input {
    border-radius: 99px;
    padding: 12px;
}